<form action="" method="get" accept-charset="utf-8">
  <p>
    <label for="openid_identifier">OpenID</label>
    <input type="text" name="openid_identifier" value="" id="openid_identifier" />
  </p>
  <p><input type="submit" value="Continue &rarr;"></p>
</form>